@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #161516;
    color: #333;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background: #161516;
    color: white;
    padding: 1rem 0;
    position: relative;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#horizontal .gym,
#horizontal .code {
    flex-shrink: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#horizontal{
    display: flex;
    background-color: #0d0b0b;
}
.gym {
    background-image: url(/images/gym.png);
    
}
.gym > div {
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: x-large;
    opacity: 1;
}
.gym > div > h2{
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: x-large;
}
.code {
    background-image: url(/images/code.png);
    text-align: center;
    opacity: 0.1;
}
.code > div {
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: x-large;
    opacity: 1;
    margin-left: 200px;
}

#about {
    flex-shrink: 0;
    height: 50vh;
    width: 100vw;
    display: grid;
    margin-top: 500px;
    opacity: 0.01;
    
}

.omne { 
    text-align: center;
    color: white;
    font-size: x-large;
    opacity: 1;
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
}
.omne > h1{
    text-align: center;
    color: white;
    opacity: 1;
    width: 100%;
}

footer {
    max-width: 700px;
    margin-inline: auto;
    background: #2E073F;
    color: #EBD3F8;
    padding: 1rem 0;
}

.ja {
    text-align: center;
    color: white;
    font-size: x-large;
    opacity: 0;
    width: 100%;
}
.ja > img{
    border-radius: 20px;
}



